<header>
    <section class="d-none d-lg-block headerTop">
        <div class="row">
            <div class="col-lg-4 logoHolder">
                <img src="../assets/img/logoone.png" alt="Diaspora portal desktop logo">
            </div>
            <div class="col-12 col-sm-12 col-lg-8 headerTopRight">
                <div class="d-block mb-3">
                    <ul class="d-flex flex-row-reverse headerTopLinks">
                        <li class=""><img src="../assets/img/googlef.png" alt=""></li>
                        <li class="mr-2"><img src="../assets/img/fblike.png" alt=""></li>
                        <li class="mr-2"><a href="#"><img src="../assets/img/rss.png" alt=""></a></li>
                        <li class="mr-2"><a href="#"><img src="../assets/img/facebook.png" alt=""></a></li>
                        <li  class="mr-2"><a href="#"><img src="../assets/img/twitter.png" alt=""></a></li>
                    </ul>
                </div>
                <div class="d-block">
                    <ul class="d-flex flex-row-reverse headerLinksTwo">
                        <li>
                            <form class="input-group topForm">
                             <input type="text">
                             <div class="input-group-append">
                               <span class="input-group-text"><i class="fas fa-search"></i></span>
                             </div>
                            </form>
                        </li>
                        <li class="mr-3 mt-1"><a href="">KDA Registration</a></li>
                        <li class="mr-3 mt-1"><a href="">Advertise Here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="mainMenu">
          <!-- Mobile Header -->
          <div class="wsmobileheader clearfix">
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
            <span class="smllogo"><img src="../assets/img/mobilelogo.png" width="98" alt="Diaspora portal mobile logo" /></span>
            <div class="wssearch clearfix">
              <i class="wssearchico fas fa-search"></i>
              <i class="wscloseico fas fa-times"></i>
              <div class="wssearchform clearfix">
                <form>
                  <input type="text" placeholder="Search Here">
                </form>
              </div>
            </div>
          </div>
          <!-- Mobile Header -->
            <nav class="wsmenu container clearfix">
              <ul class="wsmenu-list">
                <li aria-haspopup="true"><a href="#" class="wshomelink active">Home</a></li>
                <li aria-haspopup="true"><a href="#">Diaspora</a>
                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a href="#">Immigration</a></li>
                    <li aria-haspopup="true"><a href="#">Diaspora Voter</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true"><a href="#">About Us</a>
                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a href="#">Vision & Mission</a></li>
                    <li aria-haspopup="true"><a href="#">KDA</a></li>
                    <li aria-haspopup="true"><a href="#">DICL</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true"><a href="#">News</a>
                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a href="#">Kenya News</a></li>
                    <li aria-haspopup="true"><a href="#">Diaspora News</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true"><a href="#">Opportunities</a>
                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a href="#">Tenders</a></li>
                    <li aria-haspopup="true"><a href="#">Jobs</a></li>
                    <li aria-haspopup="true"><a href="#">Youth</a></li>
                    <li aria-haspopup="true"><a href="#">Government</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true"><a href="#">Investments</a>
                  <ul class="sub-menu">
                    <li aria-haspopup="true"><a href="#">Real Estate</a></li>
                    <li aria-haspopup="true"><a href="#">Counties</a></li>
                    <li aria-haspopup="true"><a href="#">Big 4</a></li>
                  </ul>
                </li>
                <li aria-haspopup="true"><a href="#">Payments</a></li>
                <li aria-haspopup="true"><a href="#">Obituaries</a></li>
                <li aria-haspopup="true"><a href="#">Classifieds</a></li>
                <li aria-haspopup="true"><a href="#">Contact Us</a></li>
                <li aria-haspopup="true" class="d-block d-lg-none d-xl-none specialLinks"><a href="#">Advertise Here</a></li>
                <li aria-haspopup="true" class="d-block d-lg-none d-xl-none specialLinks"><a href="#">KDA Registration</a></li>
              </ul>
            </nav>
    </section>
</header>