<main class="clearfix mainCont">
  <div class="row">
    <section class="col-12 col-sm-12 col-md-9 mb-2">
      <article class="homeSlider">
        <div id="wowslider-container1">
          <div class="ws_images">
            <ul>
              <li><a href="#"><img src="../../assets/img/hfcurrency.jpg" alt="hfcurrency" title="hfcurrency"
                    id="wows1_0" /></a>
              </li>
              <li><a href="#"><img src="../../assets/img/hfgroup.png" alt="hfgroup" title="hfgroup" id="wows1_1" /></a></li>
              <li><a href="#"><img src="../../assets/img/laserpeoperty.png" alt="jquery image slider" title="laserpeoperty"
                    id="wows1_2" /></a></li>
              <li><a href="#"><img src="../../assets/img/lasertwo.png" alt="lasertwo" title="lasertwo" id="wows1_3" /></a>
              </li>
            </ul>
          </div>
          <div class="ws_thumbs">
            <div>
              <a href="#" title="hfcurrency"><img src="../../assets/img/tooltips/hfcurrency.jpg" alt="" /></a>
              <a href="#" title="hfgroup"><img src="../../assets/img/tooltips/hfgroup.png" alt="" /></a>
              <a href="#" title="laserpeoperty"><img src="../../assets/img/tooltips/laserpeoperty.png" alt="" /></a>
              <a href="#" title="lasertwo"><img src="../../assets/img/tooltips/lasertwo.png" alt="" /></a>
            </div>
          </div>
          <div class="ws_script" style="position:absolute;left:-99%"></div>
          <div class="ws_shadow"></div>
        </div>
      </article>
      <article class="mainContsSect mt-4">
        <h3>FROM AROUND THE WORLD</h3>
        <a href="#" class="readMore float-right clearfix">MORE <i class="fas fa-plus"></i></a>
        <hr>
        <div class="mainContsSectInn mt-3">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imageone.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagetwo.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagethree.png" alt="">
              <div class="mainContExtra mt-3 mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagesix.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="mainContsSect mt-4">
        <h3>OBITUARIES</h3>
        <a href="#" class="readMore float-right clearfix">MORE <i class="fas fa-plus"></i></a>
        <hr>
        <div class="mainContsSectInn mt-3">
          <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagefive.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu
                  mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagefour.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu
                  mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imagetwo.png" alt="">
              <div class="mainContExtra mt-3 mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu
                  mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 d-flex d-md-block d-lg-block d-xl-block mainContCont my-2">
              <img src="../../assets/img/imageone.png" alt="">
              <div class="mainContExtra mt-3 mx-3 mx-md-0 mx-lg-0 mx-xl-0">
                <h5>Lorem ipsum dolor sit amet, consectetur</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu
                  mattis. </p>
                <a href="">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="mainContsSect mt-4">
        <h3>FEATURED VIDEOS</h3>
        <a href="#" class="readMore float-right clearfix">MORE <i class="fas fa-plus"></i></a>
        <hr>
        <div class="mainContsSectInn mt-3">
          <div class="row">
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 my-auto myVideo">
              <video controls
                src="https://archive.org/download/BigBuckBunny_124/Content/big_buck_bunny_720p_surround.mp4"
                poster="https://peach.blender.org/wp-content/uploads/title_anouncement.jpg?x11217">
                Sorry, your browser doesn't support embedded videos,
                but don't worry, you can <a href="https://archive.org/details/BigBuckBunny_124">download it</a>
                and watch it with your favorite video player!
              </video>
            </div>
          </div>
        </div>
      </article>
      <article class="mainContsSect mt-4">
        <h3>JOBS</h3>
        <a href="#" class="readMore float-right clearfix">MORE <i class="fas fa-plus"></i></a>
        <hr>
        <div class="mainContsSectInn mt-3">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 my-2 myJobs">
              <a href="#">
                <h5>Lorem ipsum dolor sit amet conse ctetur adipiscing elit</h5>
                <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor ...</p>
                <div class="myJobIn">
                  <p><strong>by: </strong>KDA <span class="ml-2 spanSpec">2 days ago</span></p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </article>
    </section>
    <aside class="col-12 col-sm-12 col-md-3 sideBar">
      <div class="sideBarLatestNews">
        <h3>LATEST NEWS</h3>
        <hr align="left">
        <ul class="newsFeed mb-5">
          <li>
            <a href="" class="d-flex d-inline-flex newsLinks">
              <img src="../../assets/img/newsavatar.png" class="img-fluid" alt="">
              <p class="mx-2 my-auto">Lorem ipsum dolor sit amet conse ctetur adipiscing elit</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex d-inline-flex newsLinks">
              <img src="../../assets/img/newsavatar.png" class="img-fluid" alt="">
              <p class="mx-2 my-auto">Lorem ipsum dolor sit amet conse ctetur adipiscing elit</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex d-inline-flex newsLinks">
              <img src="../../assets/img/newsavatar.png" class="img-fluid" alt="">
              <p class="mx-2 my-auto">Lorem ipsum dolor sit amet conse ctetur adipiscing elit</p>
            </a>
          </li>
          <li>
            <a href="" class="d-flex d-inline-flex newsLinks">
              <img src="../../assets/img/newsavatar.png" class="img-fluid" alt="">
              <p class="mx-2 my-auto">Lorem ipsum dolor sit amet conse ctetur adipiscing elit</p>
            </a>
          </li>
        </ul>
        <div class="clearfix"></div>
        <a href="" class="newsMore float-right">MORE <i class="fas fa-plus"></i></a>
      </div>
      <div class="sideBarAdOne mt-4">
        <a href="#">
          <img src="../../assets/img/taipanadd.png" class="img-fluid" alt="">
        </a>
      </div>
      <div class="newsLtter my-4">
        <h3>NEWSLETTER</h3>
        <p>Sign up to receive our free newsletters!</p>
        <form action="">
          <input type="text" name="" id="" placeholder="Name" class="form-control mb-2">
          <input type="email" name="" id="" placeholder="Email Address" class="form-control mb-3">
          <button type="submit" class="btn btn-danger mb-2">Submit</button>
        </form>
        <span>We do not spam. We value your privacy!</span>
      </div>
      <div class="realEstate specHeading ">
        <h3>REAL ESTATE</h3>
        <hr>
        <ul class="realAds">
          <li class="mt-4">
            <a href="">
              <img src="../../assets/img/hfcside.png" class="img-fluid" alt="">
              <p class="my-2">Lorem ipsum dolor sit amet con se cte tur
                adipiscing elit</p>
            </a>
          </li>
          <li class="mt-4">
            <a href="">
              <img src="../../assets/img/hfcside.png" class="img-fluid" alt="">
              <p class="my-2">Lorem ipsum dolor sit amet con se cte tur
                adipiscing elit</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="fbLike  specHeading my-4">
        <h3>LIKE OUR PAGE</h3>
        <hr>
        <div class="fb-page" data-href="https://www.facebook.com/KenyaDiasporaAlliance" data-tabs="timeline"
          data-width="" data-height="400px" data-small-header="true" data-adapt-container-width="true"
          data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/KenyaDiasporaAlliance" class="fb-xfbml-parse-ignore"><a
              href="https://www.facebook.com/KenyaDiasporaAlliance">Kenya Diaspora Alliance - KDA</a></blockquote>
        </div>
      </div>
    </aside>
  </div>
</main>
<!-- scripts -->
<script src="engine1/wowslider.js"></script>
<script src="engine1/script.js"></script>